.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Checkout{
    background: #fff;
    color: #000;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 31%;
}
.Checkout h3{
    margin-left: 5%;
    display: flex;
    width: 100%;
    margin-bottom: 5%;
}
.Checkout hr{
    color: #000;
    border: 2px solid #000;
    width: 90%;
    margin-bottom: 5%;
}
.Checkout .btn{
    height: 7vh;
}
@media (max-width:900px) {
    .Checkout{
        width: 80%;
    }
}
@media (max-width:600px) {
    .Checkout{
        width: 90%;
        font-size: 12px;
    }
}
@media (max-height:420px) {
    .card .btns{
        min-height: 20vh;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }
    .card{
        min-height:140vh !important;
    }
    .card .img{
        min-height: 60vh;
        margin-top: 15%;
    }
}
@media (max-height:720px) {
    .card .btns{
        min-height: 20vh;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }
    .card{
        min-height:80vh !important;
    }
    .card .img{
        min-height: 30vh;
        margin-top: 15%;
    }
}
@media (max-height:940px) {
    .card .btns{
        min-height: 20vh;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }
    .card{
        min-height:70vh ;
    }
}