.navbar ul{
    background-color: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index:10;
    position: fixed;
    left:50%;
    bottom: 2rem;
    transform:translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    transition-duration: 500ms;
}

@media(hover:hover)
{
    .navbar .a{
        background: transparent;
        padding: 0.8rem;
        border-radius:20px;
        color: #fff;
        font-size: 1.2rem;
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        -ms-border-radius:20px;
        -o-border-radius:20px;
        transition-duration: 500ms;
        display: flex;
        flex-direction: row;
        outline: none;
        text-decoration: none;
    }
    .navbar .a.active{
        background: #fff;
        color:#000;
    }
    .navbar .a:hover{
        background: rgba(0, 0, 0, 0.3);
    }
    .navbar .a small{
        font-family: 'Courier New', Courier, monospace;
        font-weight: 900;
        font-size: 12px;
        background-color: #fff;
        color: #000;
        height: 25px;
        width: 25px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .navbar .a.active small{
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff !important;
    }
}
@media (hover:none) {
    .navbar .a{
        background: transparent;
        padding: 0.8rem;
        border-radius:20px;
        color: #fff;
        font-size: 1.2rem;
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        -ms-border-radius:20px;
        -o-border-radius:20px;
        transition-duration: 500ms;
        display: flex;
        flex-direction: row;
        outline: none;
        text-decoration: none;
    }
    .navbar .a.active{
        background: #fff;
        color:#000;
    }
    .navbar .a small{
        font-family: 'Courier New', Courier, monospace;
        font-weight: 900;
        font-size: 12px;
        background-color: #fff;
        color: #000;
        height: 25px;
        width: 25px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .navbar .a.active small{
        background-color: none;
    }
}